.mainbackground {
  background-image: url(https://images.unsplash.com/photo-1504450758481-7338eba7524a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1169&q=80);
  background-size: cover;
  background-position: center;
  height: 100em;
  width: 100em;
}

.scoreboard {
  height: 50vh;
}

.reset {
  height: 10vh;
}